* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

section.products {
    margin-top: 20px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.product {
    position: relative;
    height: 520px;
    width: 360px;
    background-size: contain;
    margin-left:  5px;
    margin-right: 5px;
}

div.product_container {
    float: left;
}

div.cuore {
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: white;
    height: 50px;
    width: 50px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
}

div.etichette>span {
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 3px;
}

div.etichette>span.sconto {   
    background-color: #EB0037;
}

div.etichette>span.bollino {
    background-color: #00875A;
}

div.product>div.etichette {
    position:absolute;
    left: 0;
    bottom: 15px;
}

/* pic+animation */

div.product {
    transition: 1s;
}
div.product:hover {
    scale: 0.98;
}
#product1 {
    background-image: url(../img/1.webp);
}

#product1:hover {
    background-image: url(../img/1b.webp);
    
}

#product2 {
    background-image: url(../img/2.webp);
}
    
#product2:hover {
    background-image: url(../img/2b.webp);
}

#product3 {
    background-image: url(../img/3.webp);
}
    
#product3:hover {
    background-image: url(../img/3b.webp);
}

#product4 {
    background-image: url(../img/4.webp);
}
    
#product4:hover {
    background-image: url(../img/4b.webp);
}

#product5 {
    background-image: url(../img/5.webp);
}
    
#product5:hover {
    background-image: url(../img/5b.webp);
}    

#product6 {
    background-image: url(../img/6.webp);
}
    
#product6:hover {
    background-image: url(../img/6b.webp);
}
/* pic+animation */

/* testosotto*/

div.testo_sotto {
    font-size: 1rem;
    margin-left: 5px;
}

div.testo_sotto>h2 {
    font-weight: bold;
    font-size: 1rem;
}

div.testo_sotto>span.redtext {
    color: #FF0000;
    font-weight: bold;
}

div.testo_sotto>span.strikethroughtext {
    text-decoration: line-through;
}

/* /testosotto */