* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

nav {
    margin-left: 10%;
    margin-top: 10%;
    font-size: 2rem;
}

nav>a {
    text-decoration: none;
    color: gray;
    margin-right: 30px;
    border-bottom: 1px solid rgba(175, 171, 171, 0.37);
    border-right: 1px solid rgba(175, 171, 171, 0.37);
    border-bottom-right-radius: 4px;
    padding: 5px;
    padding-right: 10px;
}
nav>a:hover {
    transition: 2s;
    font-size: 2.5rem;
    color: rgb(82, 74, 74);
}
section.products {
    margin-top: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.product {
    position: relative;
    background-size: contain;
    margin-left:  5px;
    margin-right: 5px;
    height: 450px;
    width: 312px;
    margin-bottom: 10%;
    border-radius: 2px;
}

div.product_container {
    float: left;
    padding: 2.5%;
}

div.cuore {
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: white;
    height: 50px;
    width: 50px;
    font-size: 25px;
    text-align: center;
    line-height: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.etichette>span {
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 3px;
}

div.etichette>span.sconto {   
    background-color: #EB0037;
}

div.etichette>span.bollino {
    background-color: #00875A;
}

div.product>div.etichette {
    position:absolute;
    left: 0;
    bottom: 15px;
}

/* pic+animation */

div.product:hover {
    transition: 1s;
    transform: scale(1.1);
    cursor: pointer;

}

#product1 {
    background-image: url(../img/1.webp);
}

#product1:hover {
    background-image: url(../img/1b.webp);
}

#product2 {
    background-image: url(../img/2.webp);
}
    
#product2:hover {
    background-image: url(../img/2b.webp);
}

#product3 {
    background-image: url(../img/3.webp);
}
    
#product3:hover {
    background-image: url(../img/3b.webp);
}

#product4 {
    background-image: url(../img/4.webp);
}
    
#product4:hover {
    background-image: url(../img/4b.webp);
}

#product5 {
    background-image: url(../img/5.webp);
}
    
#product5:hover {
    background-image: url(../img/5b.webp);
}    

#product6 {
    background-image: url(../img/6.webp);
}
    
#product6:hover {
    background-image: url(../img/6b.webp);
}
/* pic+animation */

/* testosotto*/

div.testo_sotto {
    padding-left: 5px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    margin-left: 5px;
}

div.testo_sotto>h2 {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 3px;
    margin-bottom: 3px;
}

div.testo_sotto>span.redtext {
    color: #FF0000;
    font-weight: bold;
}

div.testo_sotto>span.strikethroughtext {
    text-decoration: line-through;
}

/* /testosotto */

/* freccette */
.freccette{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    display: none;
}

.freccette.right {
    position:absolute;
    top: 50%;
    right: 0;
    transform: translate(-10px, -10px);

}

.freccette.left {
    position:absolute;
    top: 50%;
    left: 0;
    transform: translate(-10px -10px);

}

div.product:hover>.freccette {
    display: inline-block;
}

/* /freccette */